@charset "UTF-8";
@use "header";
@use "aside";
@use "blocks";
@use "./global" as *;
@use "sass:map";
@font-face {
  font-family: "001Shirokuma";
  src: url("../font/001Shirokuma-Regular.otf") format("opentype");
}

/*===============
メディクリ
================*/
/*===============
 共通クラス
================*/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

.inner {
  padding: 0 20px;
}

/*===============
 fv
================*/
.splide__slide {
  position: relative;
  height: auto;
  width: 100%;
}

.splide__arrow {
  display: none;
}

.splide__pagination__page {
  display: none;
}

.top-fv__text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  /* 200% */
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .top-fv__text {
    top: 56%;
  }
}

@media (min-width: 768px) {
  .top-fv__text {
    bottom: 25px;
    left: 30%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  .top-fv__text {
    bottom: 46%;
  }
}

@media screen and (min-width: 900px) {
  .top-fv__text {
    bottom: 25px;
  }
}

@media (min-width: 1200px) {
  .top-fv__text {
    left: 34%;
    font-size: 32px;
    line-height: 1.6;
  }
}

.time-table {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .time-table {
    position: absolute;
    bottom: -104px;
    right: 41px;
  }
}

/*===============
 news
================*/
.top-news-container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .top-news-container {
    position: relative;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 22px;
    gap: 40px;
    margin-left: 7.6rem;
  }
}

@media screen and (min-width: 900px) {
  .top-news-container {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .top-news-container {
    margin-top: 22px;
  }
}

.top-news__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .top-news__ja-title {
    margin-top: 30px;
    text-align: center;
  }
}

.top-news__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 767px) {
  .top-news-contents {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}

.top-news__news {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-news__news + .top-news__news {
  padding-top: 12px;
}

.top-news__date {
  padding-right: 27px;
  color: #f28119;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  /* 200% */
}

.top-news__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}

.top-news__btn {
  display: block;
  text-align: center;
  margin-top: 30px;
  border-radius: 40px;
  border: 1px solid #f28119;
  padding: 13px 30px 13px 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 3;
}

@media (max-width: 767px) {
  .top-news__btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.top-news__btn::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  width: 30px;
  height: 30px;
  background: #f28119;
  border-radius: 50%;
}

.top-news__btn::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40px;
  width: 10px;
  height: 10px;
  background: url(../img/btn-arrow.png) no-repeat center center/contain;
}

.top-fv__wave {
  margin-top: -24px;
  position: relative;
  z-index: 2;
}

/*===============
 medical-menu
================*/
.top-medical-menu {
  margin-top: -24px;
}

.top-medical-menu-img {
  position: relative;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  z-index: 0;
}

.top-medical-menu-img img {
  position: absolute;
}

.top-medical-menu-img img::before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
}

.top-medical-menu__ja-title {
  padding-top: 60px;
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

.top-medical-menu__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.top-medical-menu__contents {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 886px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  gap: 40px 40px;
}

@media (min-width: 768px) {
  .top-medical-menu__contents {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .top-medical-menu__contents {
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
  }
}

.top-medical-menu__contents-text {
  margin-top: 36px;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}

.top-medical-menu__contents-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}

.top-medical-menu__contents-container:first-child .top-medical-menu__contents-img {
  background: #f28119;
}

.top-medical-menu__contents-container:first-child .top-medical-menu__contents-title {
  color: #f28119;
}

.top-medical-menu__contents-container:nth-child(2) .top-medical-menu__contents-img {
  background: #f09392;
}

.top-medical-menu__contents-container:nth-child(2) .top-medical-menu__contents-title {
  color: #f09392;
}

.top-medical-menu__contents-container:nth-child(3) .top-medical-menu__contents-img {
  background: #84c6ec;
}

.top-medical-menu__contents-container:nth-child(3) .top-medical-menu__contents-title {
  color: #84c6ec;
}

.top-medical-menu__contents-container:nth-child(4) .top-medical-menu__contents-img {
  background: #8fd97b;
}

.top-medical-menu__contents-container:nth-child(4) .top-medical-menu__contents-title {
  color: #8fd97b;
}

.top-medical-menu__contents-img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  width: 137px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 16px;
}

.top-medical-menu__contents-img img {
  width: 112px;
  height: 94px;
  vertical-align: middle;
  text-align: center;
}

.top-medical-menu__contents-title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 14px;
}

/*===============
 greeting
================*/
.top-greeting__inner {
  margin-top: 80px;
}

.top-greeting__texts {
  margin-top: 80px;
  text-align: center;
}

.top-greeting__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
}

.top-greeting__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
}

.top-greeting__contents {
  padding-top: 80px;
}

@media (min-width: 1200px) {
  .top-greeting__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;
  }
}

.top-greeting__contents-img {
  margin-top: 160px;
  text-align: center;
  position: relative;
}

@media (max-width: 1199px) {
  .top-greeting__contents-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .top-greeting__contents-img::before {
    position: absolute;
    content: "";
    top: -50px;
    left: -24px;
    width: 120px;
    height: 150px;
    background: url(../img/greeting-deco-clover.png) no-repeat center center/contain;
  }
}

.top-greeting__contents-img::after {
  position: absolute;
  content: "";
  bottom: 50px;
  right: -50px;
  width: 123px;
  height: 123px;
  background: url(../img/greeting-deco-giraffe.png) no-repeat center center/contain;
}

@media (max-width: 1199px) {
  .top-greeting__contents-img::after {
    width: 90px;
    height: 90px;
    right: 0;
    bottom: 0;
  }
}

.top-greeting__contents-texts {
  position: relative;
}

@media (min-width: 1200px) {
  .top-greeting__contents-texts::before {
    position: absolute;
    content: "";
    top: 0;
    left: -160px;
    width: 200px;
    height: 230px;
    background: url(../img/greeting-deco-clover.png) no-repeat center center/contain;
  }
}

.top-greeting__contents-title {
  margin-top: 30px;
  color: #5b4c38;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 1200px) {
  .top-greeting__contents-title {
    text-align: left;
  }
}

.top-greeting__contents-sub-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  margin-top: 40px;
  text-align: center;
}

@media (min-width: 1200px) {
  .top-greeting__contents-sub-title {
    text-align: left;
  }
}

.top-greeting__contents-btn {
  display: block;
  text-align: center;
  margin: 40px auto 0;
  border-radius: 40px;
  border: 1px solid #f28119;
  padding: 14px 30px 14px 80px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.top-greeting__contents-btn::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  width: 30px;
  height: 30px;
  background: #f28119;
  border-radius: 50%;
}

.top-greeting__contents-btn::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 40px;
  width: 10px;
  height: 10px;
  background: url(../img/btn-arrow.png) no-repeat center center/contain;
}

/*===============
 point
================*/
.top-point {
  padding-top: 72px;
}

.top-point__inner {
  background: #f9f8f3;
  padding-top: 80px;
}

@media screen and (min-width: 767px) {
  .top-point__inner {
    position: relative;
  }
  .top-point__inner::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: -15px;
    width: 242px;
    height: 300px;
    background: url(../img/point-deco-tree.png) no-repeat center center/contain;
  }
}

.top-point__ja-title {
  color: #5b4c38;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 92px;
  margin: 0 auto;
  position: relative;
}

.top-point__ja-title::after {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 71px;
  height: 62px;
  background: url(../img/point-deco-clover.png) no-repeat center center/contain;
}

.top-point__en-title {
  color: #f28119;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-right: 92px;
}

.top-point__contents {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 120px;
  gap: 45px;
  row-gap: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .top-point__contents {
    gap: 120px;
  }
}

@media (min-width: 768px) {
  .top-point__contents {
    max-width: 760px;
  }
}

@media (min-width: 1200px) {
  .top-point__contents {
    margin-top: 90px;
    max-width: 1000px;
    -ms-grid-columns: (1fr) [6];
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (auto) [2];
    grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 768px) {
  .top-point__contents .top-point__contents-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    width: 100%;
  }
  .top-point__contents .top-point__contents-item:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .top-point__contents .top-point__contents-item:nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(5) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
}

@media (min-width: 1200px) {
  .top-point__contents .top-point__contents-item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .top-point__contents .top-point__contents-item:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .top-point__contents .top-point__contents-item:nth-child(3) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
  .top-point__contents .top-point__contents-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .top-point__contents .top-point__contents-item:nth-child(5) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
}

.top-point__contents-img {
  text-align: center;
  position: relative;
}

.top-point__contents-img img {
  width: 233px;
  aspect-ratio: 233 / 233;
}

.top-point__contents-img::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
}

.point-img1::before {
  background: url(../img/point-num1.png) no-repeat center center/contain;
  top: -50px;
  left: 0;
}

@media (min-width: 1200px) {
  .point-img1::before {
    left: 44px;
  }
}

.point-img2::before {
  top: -50px;
  left: 0;
  background: url(../img/point-num2.png) no-repeat center center/contain;
}

.point-img3::before {
  background: url(../img/point-num3.png) no-repeat center center/contain;
  left: 0;
  top: -46px;
}

@media (min-width: 768px) {
  .point-img3::before {
    top: -40px;
  }
}

@media (min-width: 1200px) {
  .point-img3::before {
    top: -50px;
  }
}

.point-img4::before {
  background: url(../img/point-num4.png) no-repeat center center/contain;
  left: 0;
  top: -36px;
}

@media (min-width: 768px) {
  .point-img4::before {
    top: -28px;
  }
}

@media (min-width: 1200px) {
  .point-img4::before {
    top: 0;
    left: 20px;
  }
}

.point-img5::before {
  background: url(../img/point-num5.png) no-repeat center center/contain;
  left: 0;
  top: -36px;
}

@media (min-width: 768px) {
  .point-img5::before {
    top: -20px;
    left: -80px;
  }
}

@media (min-width: 1200px) {
  .point-img5::before {
    top: 0;
    left: 20px;
  }
}

.top-point__contents-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-top: 14px;
  position: relative;
}

.top-point__contents-title::before {
  position: absolute;
  content: "";
  background: url(../img/point-wave-deco.png) repeat center center/contain;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: 140px;
}

.top-point__contents-text {
  text-align: center;
  margin-top: 10px;
}
