@use "sass:map";
// フォントなどの基本的な設定

// 色
$color-font: #393939;
$color-background: #fff;
$color-main: #1391e6;
$color-accent: #ee5a6d;
// $color-active: #f18900;
// $color-disable: #b2b2b2;
// $color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);

// ブレークポイント
$sp-size: 767px;
$pc-size: 1024px;
$breakpoints: (
  "sp": "screen and (max-width: #{$sp-size})",
  // "tab": "screen and (min-width: #{$sp-size + 1px}) and (max-width: #{$pc-size})",
  // "pc": "screen and (min-width:  #{($pc-size + 1px)})",
  "pc": "screen and (min-width:  #{$sp-size + 1px})",
  // "sp": "screen and (max-width: #{$sp-size})",
  // "pc": "screen and (min-width: #{($sp-size + 1px)})",,,,,,,,,,,,,,,,
) !default;
@mixin mq($breakpoint: sp) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 余白
// 画面を縮めていった時に、両側が潰れて窮屈にならないためのpadding
$header-padding-pc: 40px;
$header-padding-sp: 20px;
$section-padding-pc: 40px;
$section-padding-sp: 20px;

// ヘッダー高さ
$header-height-pc: 80px;
$header-height-sp: 60px;

// レイアウト幅
// PC画面の最大幅（ユーザーに見せるエリア）
$max-width: 1280px;

// 階層
$layer: (
  totop: 30,
  modal: 100,
  drawer: 40,
  header: 20,
  footer: 10,
  default: 1,
  background: -1,
);

$button-border-size: 2px;

// $color-active: #f18900;
// $color-disable: #b2b2b2;
// $color-background: #f3f3f3;
// $color-gradation: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
