@use "base";
// ボタンなどの共通パーツ

a {
  font-weight: bold;
  text-decoration: none;
  // text-decoration: underline;
  transition: 0.2s ease-in-out;
  &:hover {
    color: base.$color-main;
  }
}

//ボーダーボックス
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  // font-family: Noto Sans CJK JP, sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  // , sans-serif;
  // ゴシック体： sans-serif; 明朝体：serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  // line-height: 160%;
  color: #393939;
  background-color: base.$color-background;
}
// 非表示設定
.hidden-sp {
  @include base.mq(sp) {
    display: none;
  }
}

.hidden-pc {
  @include base.mq(pc) {
    display: none;
  }
}

.inner {
  //中央寄せのためのmargin
  margin-inline: auto;

  // 幅が過大な時のためのmax-width
  max-width: base.$max-width;

  // window幅が狭い時に窮屈にならないためのpadding
  @include base.mq(pc) {
    padding-inline: base.$section-padding-pc;
  }
  @include base.mq(tab) {
    padding-inline: base.$section-padding-pc;
  }
  @include base.mq(sp) {
    padding-inline: base.$section-padding-sp;
  }
}

.util-title {
  // font-family: base.$font-family-english;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  // letter-spacing: 3.8px;//baseで設定してない、共通部品として設定
  padding-bottom: 24px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60px;
    height: 1px;
    background: base.$color-main;
  }
  @include base.mq(sp) {
    font-size: 30px;
    padding-bottom: 28px;
    font-size: 30px;
  }
}

.util-link {
  border: 1px solid currentColor;
  border-radius: 40px;
  box-shadow: 0px 4px 0px 0px currentColor;

  color: base.$color-main;
  display: block;
  // display: inline-block;

  margin-inline: auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 170%;
  letter-spacing: 0.02px;

  width: 158px;
  padding: 11px 4px 10px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
  background: #fff;

  &:hover {
    background: base.$color-main;
    color: #fefefe;
  }
  @include base.mq(sp) {
    font-size: 18px;
    margin: 0 auto;
    max-width: 268px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

// 画像は親blockの横幅いっぱいにする
img {
  width: 100%;
  height: 100%; //高さを可変にする
  vertical-align: bottom; //画像の下に微妙な余白が出る
}

// .main-button {
//   font-weight: bold;
//   letter-spacing: 0.025em;
//   padding-block: calc(10px - base.$button-border-size);
//   padding-inline: calc(30px - base.$button-border-size);
//   display: block;
//   width: 280px;
//   // display: inline-block;
//   // min-width: 150px;
//   border-radius: 10px;
//   border: base.$button-border-size solid currentColor;
//   // background: base.$color-yellow;
//   font-size: 18px;
//   // height: 48px;
//   // line-height: 48px;
//   line-height: 1.7;
//   // color: base.$color-white;
//   text-align: center;
//   transition: background-color 0.3s, color 0.3s;
//   box-shadow: 0 3px 5px #3e3e3e;
//   // cursor: pointer;
//   &:not(:disabled):hover {
//     background: #f18900;
//   }
// }

.section {
  //前のsectionを意識してmargin-top設定,margin-bottomは次の要素のmargin-topで対処（相殺を考慮）
  margin-top: 160px;
  @include base.mq(sp) {
    margin-top: 95px;
  }
  //子要素のwidth,heightを意識してpadding設定
  // padding-block: 20px;
}

.content {
  margin-top: 64px;
}

// table {
//   border-collapse: collapse; //枠線の重複を防ぐ
//   table-layout: fixed; //幅指定した列はその幅で、他の列の幅は均等揃え
//   text-align: center; //横方向の中央寄せ
//   vertical-align: middle; //縦方向の中央寄せ
// }
