@use "base";
@use "common";

.drawer__nav {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    background: #fffcd5;
    transition: 0.5s;
    width: 334px;
    height: 573px;
    margin-top: 59px;
    right: calc(-1 * (334px + 1px));
    .drawer-open & {
      right: 0;
    }
  }
}
.drawer__nav--list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}
.drawer__nav--item {
}

.drawer__nav--container {
}

.drawer__nav--main-text {
  color: #5b4c38;
  text-align: center;
  width: 70px;
  height: 18px;
  // margin-top: -2px;
  // margin-left: 2px;
  // 4文字項目と3文字項目で設定値を変える
  .drawer__nav--item:nth-child(1) &,
  .drawer__nav--item:nth-child(5) & {
    width: 54px;
  }
}
