@use "base";
@use "common";

.header {
  width: 100%;
  height: 190px;
  position: fixed;
  @include base.mq(sp) {
    height: 95px;
  }
}

.header__inner {
  max-width: 1440px;
  margin-inline: auto;
}
.header__wrapper {
  position: relative;
}
.header__nav {
  padding-top: 73px;
  // padding-top: clamp(0px, 6vw, 73px);
  @include base.mq(sp) {
    padding-top: 0;
  }
}

.header__nav--list {
  display: flex;
  justify-content: center;
  @include base.mq(pc) {
    gap: 86px;
    gap: clamp(43px, 6vw, 86px);
  }
  @include base.mq(sp) {
    flex-direction: column;
    align-items: center;
  }
}

.header__nav--item {
  height: clamp(60px, 8vw, 110px);
  height: clamp(60px, 8vw, 96px);
  width: clamp(40px, 4vw, 60px);
  font-size: clamp(10px, 1vw, 14px);
  white-space: nowrap;
  @include base.mq(sp) {
    display: none;
    .drawer-open & {
      display: block;
    }
    margin-top: 40px;
  }
  &:nth-child(1) {
    @include base.mq(sp) {
      margin-top: 140px;
    }
    @include base.mq(pc) {
      margin-left: -16px;
    }
  }
  &:nth-child(4) {
    @include base.mq(pc) {
      margin-left: -17px;
    }
  }
}

.header__nav--wrapper {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 4px;
}

.header__nav--icon {
  margin-top: 26px;
}

.header__nav--main-text {
}

.header__nav--sub-text {
  color: #f28119;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.header__logo {
  margin-top: clamp(0px, -3vw, -38px);
  width: clamp(78px, 9vw, 118px);
  height: clamp(92px, 10vw, 138px);
  @include base.mq(sp) {
    margin-top: 0;
  }
}

.tree-left,
.tree-right {
  position: absolute;
  top: 0;
  z-index: 3;
  pointer-events: none;
}
.tree-left {
  width: 264px;
  height: 190px;
  width: clamp(132px, 18vw, 264px);
  height: clamp(95px, 14vw, 190px);
  left: 0;
}

.tree-right {
  width: 261px;
  height: 189px;
  width: clamp(130px, 18vw, 261px);
  height: clamp(94px, 14vw, 189px);
  right: 0;

  @include base.mq(sp) {
    transition: 0.5s;
    .is-rotate & {
      transform-origin: right top;
      rotate: -90deg;
      z-index: 1;
      top: 100px;
    }
  }
}

.header__info {
  position: absolute;
  top: 20px;
  top: 21px;
  right: 220px;
  text-align: right;
  top: clamp(0px, 2vw, 21px);
  right: clamp(110px, 16vw, 220px);
  // @media screen and (max-width: 1280px) {
  //   right: 190px;
  // }
  @include base.mq(sp) {
    display: none;
  }
}

.header__address {
  color: #5b4c38;
  font-family: YuGothic;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.3px;
}

.header__tel {
  display: flex;
  align-items: center;
}

.header__tel--icon {
  width: 57px;
  height: 57px;
  margin-top: -12px;
  width: clamp(28px, 5vw, 57px);
  height: clamp(28px, 5vw, 57px);
}

.header__tel--number {
  color: #5b4c38;
  font-family: YuGothic;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px; /* 162.5% */

  margin-right: 3px;
  margin-top: -6px;
  letter-spacing: -3.2px;
  font-size: clamp(16px, 3vw, 32px);
  line-height: clamp(16px, 4vw, 52px);
}

.header__hamburger-icon {
  display: none;
  @include base.mq(sp) {
    position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    top: 20px;
    right: 20px;
    display: block;
    width: 60px;
    height: 60px;
    margin-left: auto;
    z-index: 2;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;

    .is-rotate & {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.drawer-bar {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 4px;
  background: #4a3636;
  border-radius: 3px;
  transition: 0.3s;
  &:nth-child(1) {
    top: 14px;
  }
  &:nth-child(2) {
    top: 28px;
  }
  &:nth-child(3) {
    top: 42px;
  }
  .drawer-open & {
    &:nth-child(1) {
      top: 30px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      display: none;
    }
    &:nth-child(3) {
      top: 30px;
      transform: rotate(-45deg);
    }
  }
}
