.breadcrumb-list {
  margin-top: 81px;
  margin-top: 85px;
  width: 99px;
  height: 22px;
  display: flex;
  align-items: center;
  margin-left: 2px;
  margin-left: -1px;
  @media screen and (max-width: 1000px) {
    margin-top: 30px;
  }
}

.breadcrumb-list--icon {
  width: 18px;
  height: 15px;
  display: grid;
  place-items: center;
  margin-top: -3px;
}

.breadcrumb-list--text {
  color: #333;
  font-family: Yu Gothic;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  padding-left: 19px;
  position: relative;
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    background: url("../img/breadcrumb-list-arrow.png");
    width: 6px;
    height: 8px;
    content: "";
    margin-top: -1px;
  }
}
