@charset "UTF-8";
@font-face {
  font-family: "001Shirokuma";
  src: url("../font/001Shirokuma-Regular.otf") format("opentype");
}
.header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 20;
  height: 179px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 111px;
  }
}

.header__upper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  width: 118px;
  height: 138px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 34px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__logo:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 137px;
    height: 55px;
    top: 7px;
  }
}

.header__info {
  margin-top: 20px;
  margin-right: -40px;
  text-align: right;
}
@media screen and (max-width: 1024px) {
  .header__info {
    display: none;
  }
}
.header__info .header__address {
  color: #5b4c38;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  font-family: "Yu Gothic", sans-serif;
}
.header__info .header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -7px;
}
.header__info .header__tel--icon {
  width: 57px;
  height: 57px;
  margin-top: -2px;
}
.header__info .header__tel--number {
  color: #5b4c38;
  font-size: 32px;
  font-weight: 700;
  line-height: 52px; /* 162.5% */
  margin-left: -3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-family: "Yu Gothic", sans-serif;
}
.header__info .header__tel--number:hover {
  opacity: 0.5;
}

.header__nav {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 14px;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}

.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -14px;
  gap: 82px;
}
@media screen and (max-width: calc(1500px - 100px * 1)) {
  .header__nav--list {
    gap: calc(82px - 10px * 1);
  }
}
@media screen and (max-width: calc(1500px - 100px * 2)) {
  .header__nav--list {
    gap: calc(82px - 10px * 2);
  }
}
@media screen and (max-width: calc(1500px - 100px * 3)) {
  .header__nav--list {
    gap: calc(82px - 10px * 3);
  }
}
@media screen and (max-width: calc(1500px - 100px * 4)) {
  .header__nav--list {
    gap: calc(82px - 10px * 4);
  }
}

.header__nav--item {
  width: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__nav--item:hover {
  opacity: 0.5;
}
.header__nav--item:nth-child(4) {
  margin-left: 188px;
}
@media screen and (max-width: calc(1500px - 100px * 1)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 1);
  }
}
@media screen and (max-width: calc(1500px - 100px * 2)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 2);
  }
}
@media screen and (max-width: calc(1500px - 100px * 3)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 3);
  }
}
@media screen and (max-width: calc(1500px - 100px * 4)) {
  .header__nav--item:nth-child(4) {
    margin-left: calc(188px - 25px * 4);
  }
}

.header__nav--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav--icon {
  width: 37px;
  height: 37px;
  margin-left: 8px;
}

.header__nav--main-text {
  color: #5b4c38;
  text-align: center;
  width: 58px;
  height: 16px;
  margin-top: -2px;
  margin-left: 2px;
}
.header__nav--item:nth-child(1) .header__nav--main-text, .header__nav--item:nth-child(5) .header__nav--main-text {
  width: 45px;
  margin-left: 9px;
}

.header__nav--sub-text {
  color: #f28119;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-top: 6px;
}
.header__nav--item:nth-child(1) .header__nav--sub-text, .header__nav--item:nth-child(4) .header__nav--sub-text, .header__nav--item:nth-child(5) .header__nav--sub-text {
  margin-left: 1px;
}

.header__hamburger--button {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__hamburger--button {
    position: absolute;
    top: 6px;
    right: 15px;
    width: 40px;
    height: 50px;
    z-index: 2;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
  }
  .is-rotate .header__hamburger--button {
    opacity: 1;
    pointer-events: auto;
  }
  .header__hamburger--button::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: -2px;
    color: #f28119;
    font-family: "Roboto Mono", monospace;
    font-size: 10px;
    font-weight: 500;
    line-height: 22px; /* 220% */
    content: "MENU";
  }
  .drawer-open .header__hamburger--button::after {
    content: "CLOSE";
  }
}
@media screen and (max-width: 767px) {
  .header__hamburger--button {
    opacity: 1;
    pointer-events: auto;
  }
}

.drawer-bar {
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background: #f28119;
  border-radius: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.drawer-bar:nth-child(1) {
  top: calc(-7px + 12px * 1);
}
.drawer-bar:nth-child(2) {
  top: calc(-7px + 12px * 2);
}
.drawer-bar:nth-child(3) {
  top: calc(-7px + 12px * 3);
}
.drawer-open .drawer-bar:nth-child(1), .drawer-open .drawer-bar:nth-child(3) {
  width: 48px;
  top: 17px;
  right: -4px;
}
.drawer-open .drawer-bar:nth-child(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.drawer-open .drawer-bar:nth-child(2) {
  display: none;
}
.drawer-open .drawer-bar:nth-child(3) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.header__tree--left,
.header__tree--right {
  pointer-events: none;
  height: 190px;
}
@media screen and (max-width: 1200px) {
  .header__tree--left,
  .header__tree--right {
    height: 150px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--left,
  .header__tree--right {
    height: 95px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .header__tree--left,
  .header__tree--right {
    display: none;
  }
}

.header__tree--left {
  margin-right: auto;
  width: 265px;
}
@media screen and (max-width: 1200px) {
  .header__tree--left {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--left {
    width: 132px;
  }
}

.header__tree--right {
  width: 261px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 1200px) {
  .header__tree--right {
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .header__tree--right {
    width: 130px;
  }
  .is-rotate .header__tree--right {
    -webkit-transform-origin: right top;
            transform-origin: right top;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-top: 100px;
  }
}

.header__reserve-btn--list {
  display: none;
}
@media screen and (max-width: 1024px) {
  .header__reserve-btn--list {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 4px;
    padding-inline: 10px;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.drawer__reserve-btn--list {
  display: none;
}
@media screen and (max-width: 1024px) {
  .drawer__reserve-btn--list {
    margin-top: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reserve-btn--item {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reserve-btn--item:hover {
  opacity: 0.5;
}
.reserve-btn--item.btn-orange {
  background: #f28119;
}
.reserve-btn--item.btn-blue {
  background: #0462be;
}
.reserve-btn--item.header__reserve-btn--item {
  width: 174px;
  height: 46px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reserve-btn--item.header__reserve-btn--item.btn-blue {
  padding-inline: 14px;
  padding-bottom: 2px;
}
@media screen and (max-width: 374px) {
  .reserve-btn--item.header__reserve-btn--item.btn-blue {
    padding-inline: 5px;
  }
}
.reserve-btn--item.header__reserve-btn--item.btn-orange {
  padding-inline: 21px;
  padding-top: 1px;
}
@media screen and (max-width: 374px) {
  .reserve-btn--item.header__reserve-btn--item.btn-orange {
    padding-inline: 5px;
  }
}
.reserve-btn--item.drawer__reserve-btn--item {
  width: 275px;
  height: 59px;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve-btn--item-icon.header__reserve-btn--item-icon.btn-blue {
  width: 21px;
  padding-top: 8px;
}
.reserve-btn--item-icon.header__reserve-btn--item-icon.btn-orange {
  width: 22px;
  padding-top: 8px;
}
.reserve-btn--item-icon.drawer__reserve-btn--item-icon.btn-blue {
  padding-top: 5px;
}
.reserve-btn--item-icon.drawer__reserve-btn--item-icon.btn-orange {
  padding-top: 2px;
}

.reserve-btn--item-text {
  color: #fff;
  font-family: "001Shirokuma", sans-serif;
}
.reserve-btn--item-text.header__reserve-btn--item-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.reserve-btn--item-text.header__reserve-btn--item-text.btn-blue {
  width: 98px;
  margin-left: 8px;
}
@media screen and (max-width: 374px) {
  .reserve-btn--item-text.header__reserve-btn--item-text.btn-blue {
    margin-left: 4px;
  }
}
.reserve-btn--item-text.header__reserve-btn--item-text.btn-orange {
  width: 84px;
  margin-left: 13px;
}
.reserve-btn--item-text.drawer__reserve-btn--item-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 18.232px; /* 91.16% */
  text-align: center;
}
.reserve-btn--item-text.drawer__reserve-btn--item-text.btn-orange {
  margin-left: 27px;
  padding-right: 34px;
}
.reserve-btn--item-text.drawer__reserve-btn--item-text.btn-blue {
  margin-left: 14px;
  padding-right: 30px;
  padding-bottom: 2px;
}

.drawer__nav {
  display: none;
}
@media screen and (max-width: 1024px) {
  .drawer__nav {
    display: block;
    position: fixed;
    z-index: 40;
    top: 0;
    background: #fffcd5;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    width: 334px;
    height: 573px;
    margin-top: 59px;
    right: -335px;
  }
  .drawer-open .drawer__nav {
    right: 0;
  }
}

.drawer__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.drawer__nav--main-text {
  color: #5b4c38;
  text-align: center;
  width: 70px;
  height: 18px;
}
.drawer__nav--item:nth-child(1) .drawer__nav--main-text, .drawer__nav--item:nth-child(5) .drawer__nav--main-text {
  width: 54px;
}

@font-face {
  font-family: "001Shirokuma";
  src: url("../../font/001Shirokuma-Regular.otf") format("opentype");
}
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.header {
  height: 172px;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 111px;
  }
}

.header__nav {
  bottom: 6px;
}

.footer2 {
  height: 660px;
  background: #f9f8f3;
}

.post {
  background: transparent url(../img/bg.png) no-repeat top center/contain;
  position: relative;
  padding-top: 88px;
  padding-bottom: 108px;
  margin-top: 172px;
}
@media screen and (max-width: 1024px) {
  .post {
    margin-top: 111px;
    padding-bottom: 80px;
  }
}

.post__inner {
  max-width: 1000px;
  margin-inline: auto;
}
@media screen and (max-width: 1000px) {
  .post__inner {
    padding-inline: 20px;
  }
}

.post__title {
  font-family: "001Shirokuma", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .post__title {
    font-size: 32px;
  }
}

.post__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 76px;
  gap: 31px;
}
@media screen and (max-width: 1000px) {
  .post__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post__articles {
  width: 702px;
}
@media screen and (max-width: 1000px) {
  .post__articles {
    margin-inline: auto;
  }
}
@media screen and (max-width: 767px) {
  .post__articles {
    width: 100%;
  }
}

.post__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 26px;
}
.post__article + .post__article {
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .post__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .post__article + .post__article {
    margin-top: 60px;
  }
}

.post__article--img {
  width: min(287px, 90%);
  border-radius: 10px;
}

.post__article--text {
  width: 389px;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px; /* 200% */
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  .post__article--text {
    width: min(90%, 389px);
  }
}

.post__article--time {
  margin-top: 1px;
}

.post__article--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px; /* 158.333% */
  margin-top: 1px;
}

.post__article--description .post__article--fish {
  display: inline-block;
  width: 17px;
  margin-left: -5px;
}

.post__article--btn {
  margin-left: auto;
  margin-top: 31px;
  /* padding: 7px 26px 7px 29px;
  border-radius: 40px;
  border: 1px solid #f28119;
  display: inline-block;
  width: 191px; */
}
@media screen and (max-width: 767px) {
  .post__article--btn {
    margin-right: auto;
    margin-top: 10px;
  }
}
/*
.post__article--btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__article--btn-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f28119;
}

.post__article--btn-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 12px; 75%
  letter-spacing: 0.64px;
  display: inline-block;
} */
.btn__link {
  display: inline-block;
  padding: 7px 29px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 1px solid #f28119;
  transition: all 0.3s ease;
}

.btn__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.btn__arrow {
  width: 30px;
  aspect-ratio: 1/1;
  background-color: #f28119;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn__arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: translate(-70%, -50%) rotate(45deg);
          transform: translate(-70%, -50%) rotate(45deg);
}

.btn__text {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.004em;
}

.a-btn--bgc-slide {
  position: relative;
  overflow: hidden;
}
.a-btn--bgc-slide::before {
  content: "";
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(255, 240, 228);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.a-btn--bgc-slide:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.post__archives {
  width: 267px;
  margin-top: 1px;
}
@media screen and (max-width: 1000px) {
  .post__archives {
    margin-top: 30px;
    width: 100%;
  }
}

.post__archives--articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1000px) {
  .post__archives--articles {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 767px) {
  .post__archives--articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.post__recent-post {
  font-size: 16px;
  line-height: 32px; /* 200% */
}

.post__recent-post--title {
  font-weight: 700;
  padding-bottom: 3px;
  width: 245px;
  border-bottom: 5px solid #f9f8f3;
  margin-left: 19px;
}
@media screen and (max-width: 767px) {
  .post__recent-post--title {
    margin-left: 0;
  }
}

.post__recent-post--link {
  margin-top: 10px;
  font-weight: 500;
  margin-left: 20px;
}
.post__recent-post--link + .post__recent-post--link {
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .post__recent-post--link {
    margin-left: 0;
  }
}

.post__monthly-archive {
  margin-top: 82px;
  font-size: 16px;
  line-height: 200%;
}
@media screen and (max-width: 1000px) {
  .post__monthly-archive {
    margin-top: 0;
  }
}

.post__monthly-archive--title {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 3px;
  width: 245px;
  border-bottom: 5px solid #f9f8f3;
  margin-left: 20px;
}
@media screen and (max-width: 767px) {
  .post__monthly-archive--title {
    margin-left: 0;
  }
}

.post__monthly-archive--link {
  margin-top: 8px;
  font-weight: 500;
  margin-left: 25px;
}
.post__monthly-archive--link:first-child {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .post__monthly-archive--link {
    margin-left: 0;
  }
}

.post__search-box {
  border-radius: 29.5px;
  background: #f6f6f6;
  margin-top: 60px;
  width: 100%;
  padding: 16px 20px;
}
@media screen and (max-width: 1000px) {
  .post__search-box {
    width: 300px;
    margin-inline: auto;
  }
}
@media screen and (max-width: 767px) {
  .post__search-box {
    width: 250px;
  }
}

.post__search-box--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__search-box--img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  padding-bottom: 4px;
}

.post__search-box--text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  color: #bababa;
  font-family: "Noto Sans JP";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.post__pagenation {
  margin-top: 73px;
}

.post__pagenation--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post__pagenation--number {
  padding-inline: 16px;
  color: #5b4c38;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.post__pagenation--number.is-current {
  color: #fff;
  padding-inline: 34px;
  position: relative;
}
.post__pagenation--number.is-current::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #f28119;
  width: 44px;
  height: 44px;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .post__pagenation--number {
    padding-inline: 14px;
  }
}

.post__pagenation--arrow {
  padding-inline: 16px;
  padding-bottom: 4px;
}
.post__pagenation--arrow img {
  width: 6px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .post__pagenation--arrow {
    padding-inline: 14px;
  }
}

.breadcrumb-list {
  margin-top: 81px;
  margin-top: 85px;
  width: 99px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2px;
  margin-left: -1px;
}
@media screen and (max-width: 1000px) {
  .breadcrumb-list {
    margin-top: 30px;
  }
}

.breadcrumb-list--icon {
  width: 18px;
  height: 15px;
  display: grid;
  place-items: center;
  margin-top: -3px;
}

.breadcrumb-list--text {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  padding-left: 19px;
  position: relative;
}
.breadcrumb-list--text::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 6px;
  background: url("../img/breadcrumb-list-arrow.png");
  width: 6px;
  height: 8px;
  content: "";
  margin-top: -1px;
}
