@charset "utf-8";

@use "base";
@use "blocks";
@use "./global" as *;
@use "sass:map";

// inner
.inner {
  max-width: $inner;
  margin: 0 auto;
  padding: 0 20px;
}
// section
.section__title {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
}
.section__main-title {
  position: relative;
  font-family: map.get($font, main-title);
  @include font(36, 400, 33.91, null);
}
.section__sub-title {
  text-transform: capitalize;
  color: map.get($color, accent);
  font-family: map.get($font, sub-title);
  @include font(20, 400, 28, null);
}

// footer
.footer {
  padding-top: 22px;
  padding-bottom: 61px;
  background-color: #f9f8f3;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background: url("../img/pc-assets/2x/bg_glass_@2x.webp") no-repeat center center / contain;
    width: 100%;
    aspect-ratio: 160/33;
    bottom: -41px;
  }
}
.footer__inner {
  max-width: 1000px;
  position: relative;
  z-index: 1;
}
.footer__wrapper {
  padding: 30px 55px;
  background-color: #fff;
}
.footer__title {
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__map {
  margin-top: 12px;
  max-width: 468px;
}
.footer__details {
  margin-top: -40px;
}
.footer__logo {
}
.footer__week {
  tbody {
    tr {
      th {
        &:first-child {
          border-right: 10px solid transparent;
        }
      }
      &:not(:first-child) {
        padding-left: 22px;
      }
    }
  }
}
.footer__week-top {
  background-color: map-get($color, accent);

  th {
    color: #fff;
    @include font(18, 700, 36, null);
    &:first-child {
      border-radius: 38px 0 0 38px;
      padding-left: 38px;
    }
    &:last-child {
      border-radius: 0 38px 38px 0;
      padding-right: 38px;
    }
  }
}

--txt {
}
.footer__atention {
  @include font(14, 500, 22, null);
}
.footer__tel {
  display: flex;
  gap: 10px;
}
.footer__call-icon {
  display: flex;
  align-items: center;
}
.footer__tel-number {
  @include font(32, 700, 52, null);
}
.footer__address {
  @include font(16, 500, 32, null);
}
.footer__address-text {
}
.footer__copyright {
  margin-top: 19px;
  display: block;
  text-align: center;
}
